@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sen:wght@400..800&display=swap');



.logo_img{
    width: 200px;
}
.active{
    color: #FC0000 !important;
}
.font_1{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}
.navbar-nav{
    gap: 14px;
}
.navbar-toggler{
    border: 2px solid #FC0000;
    color: #FC0000;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.active::before{
    content:"" ;
    color: red !important;
    height: 3px !important;
    width: 20px !important;
}
.card_green{
    background-color: #00A829 !important;
    color: #eeeeee;
    border-radius: 20px;
    padding: 7px 13px !important;
    border: 3px solid #00A829;
   
}
.card_green:hover{
    background-color: #eeeeee !important;
    color: #00A829;
    border: 3px solid #00A829;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.breadcrumb_bg{
   background-image: url(./img/aboutbg.jpg);
    padding: 7% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.breadcrumb {
   background-color: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    border: 1px solid #acacac5d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}