@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sen:wght@400..800&display=swap');



.logo_img{
    width: 200px;
}
.active{
    color: #FC0000 !important;
}
.font_1{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}
.navbar-nav{
    gap: 14px;
}
.navbar-toggler{
    border: 2px solid #FC0000;
    color: #FC0000;
}
.navbar-toggler:focus{
    box-shadow: none;
}