@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sen:wght@400..800&display=swap');


html{
    overflow-x: hidden !important;
}
.logo_img{
    width: 200px;
}
.active{
    color: #FC0000 !important;
}
.font_1{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}
.navbar-nav{
    gap: 14px;
}
.navbar-toggler{
    border: 2px solid #FC0000;
    color: #FC0000;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.active::before{
    content:"" ;
    color: red !important;
    height: 3px !important;
    width: 20px !important;
}
.card_green{
    background-color: #00A829 !important;
    color: #eeeeee;
    border-radius: 20px;
    padding: 7px 13px !important;
    border: 3px solid #00A829;
   
}
.card_green:hover{
    background-color: #eeeeee !important;
    color: #00A829;
    border: 3px solid #00A829;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.breadcrumb_bg{
   background-image: url(./img/aboutbg.jpg);
    padding: 7% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.breadcrumb {
   background-color: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    border: 1px solid #acacac5d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.red_color{
    color: #FE0000;
}
.font_2{
    font-family: "Sen", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  
}

.product_bg{
    background-image: url(https://t3.ftcdn.net/jpg/00/96/95/70/360_F_96957081_unUc73Y46h0NLiRYB7mphAS0dtA1H8B1.jpg);
     padding: 7% ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
    
 }
 .fb{
    padding: 7% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://marketudachi.ru/upload/shop_15/2/item_22010/191934e2fc7a11e8969f005056899a29_c0a23854fd7d11e80e88005056899a29.jpg);
 }
 .vegbg{
    padding: 7% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdnn1.inosmi.ru/img/24770/21/247702129_0:100:1921:1180_1240x0_80_0_0_8d49d78fb6fdd7af7daeffaa62f9a60f.jpg);
 }
 .pro-veg{
    background-image: url(./img/vegetables-bg.jpg);
    height: 424px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
 }
 .pro-fru{
    background-image: url(./img/fruit-bg.jpg);
    
    height: 424px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
 }
 
 .pro-veg:hover .c1{
    display: block;
    /* filter: grayscale(100%); */
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: blur(11px);
    
 }
 
 .c1{
    height: 424px;
    justify-content: center;
    align-items: center;
    display: none;
 }

 .pro-fru:hover .c1{
    display: block;
    /* filter: grayscale(100%); */
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: blur(11px);
    
 }
 .v_btn{
    background-color: #00A829 !important;
    padding: 10px 30px;
   
 }
 .card_red{
    background-color: #FE0000 !important;
    color: #eeeeee;
    border-radius: 20px;
    padding: 7px 13px !important;
    border: 3px solid #FE0000;
 }
 .card_red:hover{
    background-color: #eeeeee !important;
    color: #FE0000;
    border: 3px solid #FE0000;
 }
